.btn-scroll-to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 4rem;

  width: 40px;
  height: 40px;

  font-size: 1em;
  line-height: 1.2;

  color: #ffffff;
  border-radius: 10px;
  background: #5eb707;
  opacity: 0.7;
  cursor: pointer;
}